<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<div class="container">
    <h1><%= titulo %></h1>
    <%- include('includes/tabla_incidentes.ejs') %>  
</div>

<%- include('includes/foot.ejs') %> 